#site-header {
    padding: nice-px(1) nice-px(2);
    border-bottom: 1px solid map-get($colors, border);

    .search-form {
        @include pad-style {
            display: inline-block;
            margin-left: nice-px(1);
            margin-right: nice-px(1);
        }
    }
}

#header-menu {
    @include pad-style {
        display: inline-block;
    }

    .menu-item {
        display: inline-block;
        padding-right: nice-px(.5);
    }
}
